{% extends "base.html" %}

{% block title %}History of the Internet{% endblock %}

{% block content %}

<section>
    <h1>History of the Internet</h1>


<section>
    <h2>Introduction</h2>

    <p>
        the internet is a connected computer networks which allow computers and devices to exchange information and communicate.it begins with packet switching and development of ARPNET. With the development of communication protocols like TCP/IP internet has transformed into a worldwide network.
    </p>
</section>


<section>
    <h2>Verified milestones:</h2>

    <article>
        <h3>1969 — ARPANET was created and its first four host computers were connected.</h3>

        <p>
            At the end of 1969, four host computers were connected together into the initial ARPANET. They could transfer data on dedicated high-speed transmission lines, and could even be programmed remotely from the other nodes.
        </p>
    </article>

    <article>
        <h3>1972 — Email became an important ARPANET application.</h3>

        <p>
            In 1972, the initial “hot” application, electronic mail, was introduced. People had their own personal user accounts on the ARPANET computers, and their own personal addresses for electronic mail.
        </p>
    </article>

    <article>
        <h3>1983 — NCP to TCP/IP</h3>

        <p>
            One of the more interesting challenges was the transition of the ARPANET host protocol from NCP to TCP/IP as of January 1, 1983. The transition of ARPANET from NCP to TCP/IP permitted it to be split into a MILNET supporting operational requirements and an ARPANET supporting research needs.
        </p>
    </article>

    <article>
        <h3>1986 — NSFNET was launched by the National Science Foundation.</h3>

        <p>
            One of the most significant TCP/IP-based networks was NSFNET, launched in 1986 by NSF to connect academic researchers to a new system of supercomputer centers.
        </p>
    </article>

    <article>
        <h3>1995 — Better infrastructure with NSFNET</h3>

        <p>
            TCP/IP would be mandatory for the NSFNET program. When Steve Wolff took over the NSFNET program in 1986, he recognized the need for a wide area networking infrastructure to support the general academic and research community
        </p>
    </article>
</section>


<section>
    <h2>Three Key Technologies:</h2>

    <article>
        <h3>1. TCP/IP</h3>

        <p>
            The ARPA’s original standard for communication was known as NCP, “Network Control Protocol,” but as time passed and the technique advanced, NCP was superceded by a higher-level, more sophisticated standard known as TCP/IP. TCP, or “Transmission Control Protocol,” converts messages into streams of packets at the source, then reassembles them back into messages at the destination.
        </p>
    </article>

    <article>
        <h3>2. Packet Switching</h3>

        <p>
            Packet switching is a technology that divides messages into packets, each packet separately addressed. Then begin at some specified source node, and end at some other specified destination node. Each packet would wind its way through the network on an individual basis.
        </p>
    </article>

    <article>
        <h3>3. Domain Name System (DNS)</h3>

        <p>
            Domain Name System (DNS) was invented by Paul Mockapetris of USC/ISI. The DNS permitted a scalable distributed mechanism for resolving hierarchical host names (e.g. www.acm.org) into an Internet address.
        </p>
    </article>
</section>


<section>
    <h2>Reliable Sources</h2>

    <ul>
        <li>
            <em>
                <a href="https://www.internetsociety.org/internet/history-internet/brief-history-internet">
                    Internet Society — A Brief History of the Internet
                </a>
            </em>
        </li>

        <li>
            <em>
                <a href="https://www.internetsociety.org/internet/history-internet/brief-history-internet-related-networks">
                    Internet Society — A Brief History of the Internet & Related Networks
                </a>
            </em>
        </li>

        <li>
            <em>
                <a href="https://www.nsf.gov/impacts/internet">
                    NSF - Birth of the Commercial Internet
                </a>
            </em>
        </li>
    </ul>
</section>


</section>

{% endblock %}