{% extends "base.html" %}
{% block title %}Engineering Student Profile{% endblock %}
{% block content %}

{% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='form_style.css') }}"/>
{% endblock %}


<h2>Engineering Student Profile</h2>
<p>Complete this form to provide information about your
academic background, technical skills, internship
experience, and Final Year Project preferences.</p>



<form action="{{ url_for('submit_profile') }}"
 method="post">


<fieldset>
   <legend>1.Personal Information</legend> 
   <label for="student_id">Student ID</label>
   <input type="number" id="student_id" name="student_id" placeholder="202400888"  required><br><br>
   <label for="FullName">Name:</label>
   <input type="text" id="FullName" name="fullname" placeholder="First Name & Last Name" required><br><br>
   <label for="email">Usek Email:</label>
   <input type="email" id="email" name="email"  required><br><br>
   <label for="phone">Mobile Number:</label>
   <input type="tel" id="phone" name="phone"  required><br><br>
   <label for="birthdate">Date of Birth:</label>
   <input type="date" id="birthdate" name="birthdate" required><br><br>
   <label for="GithubUrl">GitHub:</label>
   <input type="url" id="GithubUrl" name="portfolio" required><br><br>
   <label for="RenderLink">GIN446 website:</label>
   <input type="url" id="RenderLink" name="gin446"  required><br><br>
</fieldset>

<fieldset>
    <legend>2.Academic information </legend>
    <label for="EngMajor">Engineering Major</label>
    <select id="EngMajor" name="major" required>
        <option value="">--Select your major--</option>
        <option value="Computer">Computer Engineering</option>
        <option value="Electrical">Electrical Engineering</option>
        <option value="Telecom">Telecom Engineering</option>
        <option value="Biomedical">Biomedical Engineering</option>
    </select><br><br>
    <label for="GPA">GPA/100:</label>
    <input type="number" id="GPA" name="gpa" min="00" max="100"  required><br><br>

    <label for="CreditsCompleted">Credits Completed:</label>
    <input type="number" id="CreditsCompleted" name="credits" min="0" max="146" required><br><br>

    <fieldset>
    <legend>Expected Graduation:</legend>
    <input type="radio" id="ExpectedGraduationSpring" name="graduation" value="Spring" required>
    <label for="ExpectedGraduationSpring">Spring</label>
    <input type="radio" id="ExpectedGraduationSummer" name="graduation" value="Summer" required>
    <label for="ExpectedGraduationSummer">Summer</label>
    <input type="radio" id="ExpectedGraduationFall" name="graduation" value="Fall" required>
    <label for="ExpectedGraduationFall">Fall</label>
    </fieldset><br><br>
     
    <label for="ExpectedGraduationMandY">Expected Graduation Month and Year:</label>
    <input type="month" id="ExpectedGraduationMandY" name="graduation_month" min="2020-01" max="2099-01" required><br><br>

    <fieldset>
    <legend>Have you completed an engineering internship?</legend>
    <input type="radio" id="InternshipYes" name="internship_completed" value="Yes" required>
    <label for="InternshipYes">Yes</label>
    <input type="radio" id="InternshipNo" name="internship_completed" value="No" required>
    <label for="InternshipNo">No</label>
    </fieldset><br><br>
</fieldset>

<fieldset>
    <legend>3.Technical background</legend>
    <label for="experience">Select all areas in which you have experience:</label><br>
    <input type="checkbox" id="programming" name="skills" value="Programming">
    <label for="programming">Programming</label><br>
    <input type="checkbox" id="embedded-systems" name="skills" value="Embedded Systems">
    <label for="embedded-systems">Embedded Systems</label><br>
    <input type="checkbox" id="electronics" name="skills" value="electronics">
    <label for="electronics">Electronics</label><br>
    <input type="checkbox" id="computer-networks" name="skills" value="Computer Networks">
    <label for="computer-networks">Computer Networks</label><br>
    <input type="checkbox" id="telecommunications" name="skills" value="Telecommunications">
    <label for="telecommunications">Telecommunications</label><br>
    <input type="checkbox" id="biomedical-instrumentation" name="skills" value="Biomedical Instrumentation">
    <label for="biomedical-instrumentation">Biomedical Instrumentation</label><br>
    <input type="checkbox" id="artificial-intelligence" name="skills" value="Artificial Intelligence / Machine Learning">
    <label for="artificial-intelligence">Artificial Intelligence / Machine Learning</label><br>
    <input type="checkbox" id="signal-processing" name="skills" value="Signal Processing">
    <label for="signal-processing">Signal Processing</label><br><br>

    <label for="PrimaryProgLang">Primary Programming Language:</label>
    <input list="languages" id="PrimaryProgLang" name="language" placeholder="Start typing or select it" required>
    <datalist id="languages">
        <option value="Python">
        <option value="C++">
        <option value="Java">
        <option value="C#">
        <option value="JavaScript">
        <option value="MATLAB">
        <option value="R">
        <option value="Go">
        <option value="Ruby">
        <option value="Swift">
    </datalist><br><br>

    <label for="EngSoftwareUsed">Engineering Software Used:</label>
    <select id="EngSoftwareUsed" name="software" multiple required>
        <option value="selection">Select software used</option>
        <option value="MATLAB">MATLAB</option>
        <option value="LabVIEW">LabVIEW</option>
        <option value="AutoCAD">AutoCAD</option>
        <option value="SolidWorks">SolidWorks</option>
        <option value="Multisim">Multisim</option>
        <option value="PSpice">PSpice</option>
        <option value="Simulink">Simulink</option>
        <option value="Altium Designer">Altium Designer</option>
        <option value="ANSYS">ANSYS</option>
        <option value="COMSOL Multiphysics">COMSOL Multiphysics</option>
    </select><br>
    <p>Hold Ctrl (Windows) or Cmd (Mac) to select several options</p>

</fieldset>

<fieldset>
    <legend>4.Final Year Project</legend>
    <label for="ProjectTitle">Proposed Project Title:</label>
    <input type="text" id="ProjectTitle" name="project_title" placeholder="Enter the project title"><br><br>

    <label for="ProjectArea">Preferred Project Area:</label>
    <select id="ProjectArea" name="project_area" required>
        <option value="">Select your preferred project area</option>
        <optgroup label="Computer Engineering">
            <option value="AI">Artificial Intelligence</option>
            <option value="Web Applications">Web Applications</option>
            <option value="Cybersecurity">Cybersecurity</option>
            <option value="Internet of Things">Internet of Things (IoT)</option>
        </optgroup>
        <optgroup label="Electrical Engineering">
            <option value="Power Systems">Power Systems</option>
            <option value="Renewable Energy">Renewable Energy</option>
            <option value="Control Systems">Control Systems</option>
        </optgroup>
        <optgroup label="Biomedical Engineering">
            <option value="Medical Imaging">Medical Imaging</option>
            <option value="Biosensors">Biosensors</option>
            <option value="Medical Devices">Medical Devices</option>
        </optgroup>
        <optgroup label="Telecommunications Engineering">
            <option value="Wireless Communications">Wireless Communications</option>
            <option value="5G / 6G Networks">5G / 6G Networks</option>
        </optgroup>
    </select><br><br>

    <label for="ProjectDescription">Project Description:</label>
    <textarea id="ProjectDescription" name="description" rows="4" cols="40" placeholder=" Project description " required></textarea><br><br>

    <label for="TeamSize">Preferred Team Size:</label>
    <input type="number" id="TeamSize" name="team_size" min="1" max="5" placeholder="Enter the number of team members" required><br><br>

    <label for="ProjDashboardColor">Project Dashboard Color:</label>
    <input type="color" id="ProjDashboardColor" name="project_color"  required><br><br>
    
    <label for="MeetingDate">Preferred Meeting Date:</label>
    <input type="date" id="MeetingDate" name="meeting_date" placeholder="yyyy-mm-dd"  required><br><br>

    <label for="MeetingTime">Preferred Meeting Time:</label>
    <input type="time" id="MeetingTime" name="meeting_time" placeholder="HH:MM" required><br><br>

</fieldset>

<fieldset>
    <input type="checkbox" id="Confirmation" name="confirmation" required>
    <label for="Confirmation">I confirm that the information provided is accurate.</label>

    <input type="submit" id="submit" value="Submit Profile">
    <input type="reset" id="reset" value="Clear Form">
</fieldset>

<input type="hidden" name="form_version" value="2026-2027">

</form>
{% endblock %}