```html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>History of the Web</title>
</head>

<body>

    <header>
        <h1>History of the Web</h1>
    </header>

    <nav>
        <a href="#introduction">Introduction</a>
        <a href="#milestones">Verified Milestones</a>
        <a href="#technologies">Three Key Technologies</a>
        <a href="#sources">Reliable Sources</a>
    </nav>

    <main>

        <section id="introduction">
            <h2>Introduction</h2>

            <p>
                The web is a system that allows people to access websites and web
                pages in order to share information using the Internet. The web is
                a service that operates on the Internet. It was invented by
                Tim Berners-Lee at CERN. In 1990, the first website was operating
                at CERN.
            </p>
        </section>


        <section id="milestones">
            <h2>Verified Milestones</h2>

            <article>
                <h3>1989: Foundation of the Web</h3>

                <p>
                    Tim Berners-Lee invented the World Wide Web. He coined the term
                    "World Wide Web," wrote the first World Wide Web server,
                    "httpd," and the first client program, "Worldwide Web," in
                    October 1990.
                </p>
            </article>


            <article>
                <h3>1991: Web is available outside CERN</h3>

                <p>
                    The first servers were running outside of CERN by early 1991.
                    Berners-Lee posted on the public
                    <em>alt.hypertext</em> newsgroup. This is now considered to be
                    the official start of the World Wide Web as a public project.
                </p>
            </article>


            <article>
                <h3>1993: Mosaic browser was released</h3>

                <p>
                    NCSA released working versions of the Mosaic browser for all
                    common platforms: X, PC/Windows, and Macintosh.
                </p>
            </article>


            <article>
                <h3>1994: World Wide Web Consortium (W3C) was established</h3>

                <p>
                    In 1994, the decision to form the World Wide Web Consortium
                    came at the urging of many companies investing increasing
                    resources into the web. In founding the World Wide Web
                    Consortium, Sir Tim Berners-Lee created a community of peers.
                </p>
            </article>

        </section>


        <section id="technologies">
            <h2>Three Key Technologies</h2>

            <article>
                <h3>HTML: HyperText Markup Language</h3>

                <p>
                    HyperText Markup Language (HTML) is the document formatting
                    language with the capability for hypertext links that became
                    the primary publishing format for the Web.
                </p>
            </article>


            <article>
                <h3>HTTP: HyperText Transfer Protocol</h3>

                <p>
                    HyperText Transfer Protocol (HTTP) is a protocol used to
                    exchange web documents.
                </p>
            </article>


            <article>
                <h3>URL: Uniform Resource Locator</h3>

                <p>
                    A Uniform Resource Locator (URL) is an address used to identify
                    and locate resources on the Web.
                </p>
            </article>

        </section>


        <section id="sources">
            <h2>Reliable Sources Used</h2>

            <ol>
                <l
```
